[Desktop Entry]
Version=1.0
Type=Application
Categories=Game;Application;
Terminal=false
Exec=${NAME}
Name=SFML Boilerplate
Comment=My SFML Game
Icon=sfml